<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">Cards</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="card">Card da Tab 1</ion-card-title>
      <ion-card-subtitle class="card">Marcelin e Rogério</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content class="card">
      A principal finalidade de um texto narrativo é contar uma história através
      de uma sequência de ações reais ou imaginárias. A narração da história é
      construída à volta de elementos narrativos, como o espaço, tempo,
      personagem, enredo e narrador.
    </ion-card-content>
  </ion-card>
</ion-content>
