<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">Normas Regulamentadoras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-label>As Normas Regulamentadoras (NR) são disposições complementares ao Capítulo V (Da Segurança e da Medicina do Trabalho) do Título II da Consolidação das Leis do Trabalho (CLT), com redação dada pela Lei nº 6.514, de 22 de dezembro de 1977. Consistem em obrigações, direitos e deveres a serem cumpridos por empregadores e trabalhadores com o objetivo de garantir trabalho seguro e sadio, prevenindo a ocorrência de doenças e acidentes de trabalho.</ion-label>
</ion-content>
